---
---

@import "{{ site.theme }}";

.page-header {
    background-image : url('https://static1.squarespace.com/static/58f49f4c37c581427ce3f70a/t/5a1c0c979140b7c30649122f/1511787707285/DSC_0202.jpg?format=750w') ;
    background-repeat: no-repeat;
    background-size: auto;
} 
